:root {
  --basic-black: #000000;
  --basic-black-light: #212121;
  --basic-red: #D84033;
  --basic-grey-dark: #CBCFD4;
  --basic-grey: #CECECE;
  --basic-grey-light: #F4F4F4;
  --basic-sand: #816B5B;
  --basic-cream-dark: #AC8F7A;
  --basic-cream: #D7B399;
  --basic-cream-light: #E5E5E5;;
  --basic-white-dark: #F9F6F1;
  --basic-white: #ffffff;

  --basic-input-color: #8D8D8D;

  --basic-outline-color: #3395FF;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  margin: -1px;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.button {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-cream);
}

.button:hover,
.button:focus {
  background-color: var(--basic-cream-dark);
}

.button:active {
  background-color: var(--basic-sand);
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.main-header {
  letter-spacing: 0.03em;
  padding-bottom: 126px;

  background-color: var(--basic-white-dark);
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.header-catalog {
  margin-right: 56px;
}

.catalog-categories {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.catalog-category {
  position: relative;
  margin-right: 35px;
  font-weight: 500;
}

.catalog-name {
  position: relative;
  padding-right: 10px;
}

.catalog-name::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 5px;
  height: 5px;
  background-image: url("../img/list-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-name:hover,
.catalog-name:focus,
.catalog-items a:hover,
.catalog-items a:focus {
  cursor: pointer;
  border-bottom: 2px solid var(--basic-black);
}

.catalog-name:hover::after,
.catalog-name:focus::after {
  transform: rotate(60deg);
  transition: 0.3s;
}

.catalog-items {
  min-width: 120px;
  display: none;
  position: absolute;
  top: 15px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.catalog-category:hover .catalog-items,
.catalog-category:focus .catalog-items {
  display: block;
  -webkit-animation: show-list 0.1s;
          animation: show-list 0.1s;
}

.catalog-items li {
  padding-bottom: 10px;
}

.catalog-items a {
  color: var(--basic-black);
}

.catalog-items a:active {
  opacity: 0.4;
}

.logo {
  display: block;
  position: relative;
  text-align: center;
  width: 141px;
  height: 33px;
  padding-top: 7px;
  padding-left: 60px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.logo:hover,
.logo:focus {
  outline: 2px solid var(--basic-black);
}

.logo::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-logo {
  margin-right: 90px;
}

.delivery-info {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-right: 66px;
  font-weight: 500;
  list-style: none;
}

.delivery-info a {
  color: var(--basic-black);
  margin-right: 35px;
}

.delivery-info a:hover,
.delivery-info a:focus {
  border-bottom: 2px solid var(--basic-black);
}

.delivery-info a:active {
  opacity: 0.4;
}

.site-cart {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.user-cart {
  display: block;
  min-width: 30px;
  min-height: 30px;
  position: relative;
}

.user-cart::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -2px;
  left: 0;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-cart:hover,
.user-cart:focus {
  outline: 2px solid var(--basic-black);
}

.cart-items {
  display: block;
  min-width: 21px;
  height: 17px;
  margin-top: 7px;
  padding-left: 25px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: var(--basic-white);

  background-image: url("../img/cart-items-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-actions {
  display: flex;
}

.site-promo {
  background-color: var(--basic-white-dark);
}

.promo-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.promo-info {
  width: 554px;
}

.site-promo h2 {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 25px;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.site-promo b {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-size: 55px;
  line-height: 67px;
  letter-spacing: 0.04em;
  font-weight: 700;
  text-transform: uppercase;
}

.button-slider {
  width: 240px;
  height: 38px;
  padding-top: 17px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.promo-slider {
  width: 556px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  position: relative;
}

.item-current {
  display: block;
}

.old-price {
  position: absolute;
  top: 40px;
  right: 7px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-decoration: line-through;
  text-transform: uppercase;
}

.new-price {
  position: absolute;
  top: 83px;
  right: 0;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--basic-red);
}

.slider-controls {
  margin: 0 auto;
  padding: 0;
  padding-top: 120px;
  padding-bottom: 65px;
  width: 205px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.slider-controls .control {
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 7px;

  background-color: var(--basic-grey);
}

.slider-controls .control:hover,
.slider-controls .control:focus {
  cursor: pointer;
  background-color: var(--basic-cream);
}

.slider-controls .control:active {
  background-color: var(--basic-cream-dark);
}

.slider-controls .control-current {
  background-color: var(--basic-cream);
}

.bonus-gift {
  color: var(--basic-white);
  background-color: var(--basic-black-light);
}

.bonus-main-info {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 24px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.bonus-description {
  margin: 0;
  padding: 0;
  padding-bottom: 69px;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.site-catalog {
  padding-bottom: 147px;
}

.catalog-collections {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-collections li {
  flex-grow: 1;
}

.catalog-collections li:nth-child(2n+1) {
  background-color: var(--basic-white-dark);
}

.catalog-collections li:nth-child(2n) {
  background-color: var(--basic-grey-light);
}

.catalog-column-left {
  position: relative;
  width: 555px;
  min-height: 250px;
  margin-left: auto;
}

.catalog-column-right {
  position: relative;
  width: 555px;
  min-height: 253px;
  margin-right: auto;
}

.catalog-column-left img {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.catalog-column-right img {
  position: absolute;
  bottom: 0;
  right: 13px;
}

.catalog-collections h3 {
  margin: 0;
  padding: 0;
  padding-top: 62px;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-collections b {
  font-weight: 500;
}

.catalog-collections p {
  margin: 0;
  padding: 0;
  padding-bottom: 33px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-column-left h3,
.catalog-column-left p,
.catalog-column-left .button-show {
  margin-left: 21px;
}

.catalog-column-right h3,
.catalog-column-right p,
.catalog-column-right .button-show {
  margin-left: 36px;
}

.button-show {
  position: relative;
  width: 80px;
  height: 30px;
}

.button-show::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 8px;
  left: 30px;
  top: 11px;
  background-image: url("../img/arrow-btn.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-show:hover::before,
.button-show:focus::before {
  -webkit-animation: arrow-motion 0.3s;
          animation: arrow-motion 0.3s;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 277px;
}

.catalog-item {
  position: relative;
  min-height: 236px;

  background-color: var(--basic-grey-light);
}

.catalog-item:hover,
.catalog-item:focus,
.catalog-new-item:hover,
.catalog-new-item:focus {
  cursor: pointer;
  transform: translateY(-8px);
  transition: 1s;
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: inherit;
}

.catalog-item a:active {
  color: inherit;
}

.male-item {
  background-color: var(--basic-grey-light);
}

.female-item {
  background-color: var(--basic-white-dark);
}

.catalog-item img {
  display: block;
  margin: 0;
  padding: 0;
}

.catalog-item h3 {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 30px;
  bottom: 24px;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.catalog-new {
  padding-bottom: 148px;
}

.catalog-new h2,
.site-sales h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}

.catalog-new-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.catalog-new-item {
  flex-basis: 255px;
  min-height: 350px;
  background-image: url("../img/item-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-new-item a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: inherit;
}

.catalog-new-item img {
  padding-top: 25px;
  padding-left: 25px;
  text-align: center;
}

.catalog-new-item h3 {
  width: 112px;
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.price {
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-cream);
}

.button-all {
  position: relative;
  margin: 0 auto;
  padding-top: 19px;
  padding-left: 35px;
  width: 185px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.button-all::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 8px;
  left: 165px;
  top: 24px;
  background-image: url("../img/arrow-btn.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-all:hover::after,
.button-all:focus::after {
  -webkit-animation: arrow-motion 0.3s;
          animation: arrow-motion 0.3s;
}

.site-subscribe {
  background-color: var(--basic-black-light);
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.site-subscribe p {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.subscribe-form {
  display: flex;
}

.user-email {
  width: 230px;
  padding-top: 15px;
  padding-left: 24px;
  padding-bottom: 12px;
  margin-right: 35px;
  border: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--basic-input-color);
  background-color: var(--basic-white-dark);
}

.form-error {
  -webkit-animation: error 1s;
          animation: error 1s;
}

.button-subscribe {
  width: 185px;
  display: block;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.button-subscribe:hover,
.button-subscribe:focus {
  cursor: pointer;
}

.site-sales {
  padding-top: 150px;
  padding-bottom: 150px;
}

.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-black-light);
}

.footer-wrapper {
  flex-direction: row;
  display: flex;
}

.logo-footer {
  color: var(--basic-white);
}

.logo-footer:hover,
.logo-footer:focus {
  outline: 2px solid var(--basic-white);
}

.site-description {
  padding-top: 72px;
  margin-right: 221px;
}

.shop-slogan {
  width: 205px;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.site-navigation {
  padding-top: 78px;
  padding-bottom: 75px;

  display: flex;
}

.site-navigation h3,
.site-socials h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  }

.site-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.site-navigation li,
.site-socials li {
  padding-bottom: 14px;
}

.site-navigation a,
.site-socials a {
  color: var(--basic-grey-dark);
}

.site-navigation a:hover,
.site-navigation a:focus {
  border-bottom: 2px solid var(--basic-white);
}

.site-socials a:hover,
.site-socials a:focus {
  outline: 2px solid var(--basic-white);
}

.site-navigation a:active,
.site-socials a:active {
  opacity: 0.4;
}

.nav-column {
  display: flex;
  flex-direction: column;
}

.site-navigation .nav-column:nth-child(1) {
  min-width: 116px;
  margin-right: 84px;
}

.site-navigation .nav-column:nth-child(2) {
  min-width: 124px;
  margin-right: 76px;
}

.site-navigation .nav-column:nth-child(3) {
  min-width: 137px;
  margin-right: 53px;
}

.site-socials {
  padding-top: 78px;
}

.social-list {
  width: 102px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list a {
  position: relative;
  padding-left: 29px;
}

.vk-link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 2px;

  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fb-link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 4px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.insta-link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 4px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-copyright {
  padding-top: 30px;
  padding-bottom: 23px;
  color: var(--basic-black-light);
  background-color: var(--basic-white);
}

.copyright-wrapper {
  display: flex;
  justify-content: space-between;
}

.site-copyright-label {
  margin: 0;
  padding: 0;
}

.site-privacy {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes show-list {
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes show-list {
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@-webkit-keyframes arrow-motion {
  30%, 70%, 100% {
    transform: translateX(-5px);
  }
  10%, 50%, 90% {
    transform: translateX(5px);
  }
}

@keyframes arrow-motion {
  30%, 70%, 100% {
    transform: translateX(-5px);
  }
  10%, 50%, 90% {
    transform: translateX(5px);
  }
}

@-webkit-keyframes error {
  25% {
    outline: 5px solid red;
  }
  50% {
    outline: 5px solid red;
  }
  75% {
    outline: 5px solid red;
  }
  100% {
    outline: 5px solid red;
  }
}

@keyframes error {
  25% {
    outline: 5px solid red;
  }
  50% {
    outline: 5px solid red;
  }
  75% {
    outline: 5px solid red;
  }
  100% {
    outline: 5px solid red;
  }
}
